@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
body
  font-family: 'Hahmlet', serif;

html
  position relative
  min-height 100%
  margin 0

body
  min-height 100%

h1
  color $accentColor

.sidebar
  background none
  border-right none
  bottom none

.siteFooter
  position absolute
  left 0
  bottom 0
  width 100%
  box-sizing: border-box;
  background $codeBgColor
  font-size 13px
  color #848d95
  padding 30px 60px